# Buyers Ratio
### Dependent and independent are discrete as per data

In [1]:
import numpy as np
import pandas as pd

In [2]:
Buyer=pd.read_csv("C:\\Users\\Prajwal\\Desktop\\Data Science\\Assignments\\Hypothesis Testing\\BuyerRatio.csv")

In [3]:
Buyer

  Observed Values  East  West  North  South
0           Males    50   142    131     70
1         Females   435  1523   1356    750

In [17]:
Buyer1=Buyer.iloc[0:2,1:]

In [18]:
Buyer1

   East  West  North  South
0    50   142    131     70
1   435  1523   1356    750

### H0= product sales ratio are same for male and female
### H1= product sales ratio are not same for male and female

In [20]:
Observed_values=Buyer1.values

In [21]:
print("Observed values:-\n",Observed_values)

Observed values:-
 [[  50  142  131   70]
 [ 435 1523 1356  750]]

In [24]:
import scipy as stats

In [23]:
import scipy.stats as st

### Chi-squared test

In [25]:
Val= st.chi2_contingency(Buyer1)

In [26]:
Val

(1.595945538661058,
 0.6603094907091882,
 3,
 array([[  42.76531299,  146.81287862,  131.11756787,   72.30424052],
        [ 442.23468701, 1518.18712138, 1355.88243213,  747.69575948]]))

### p-value = 0.6603
### p high null fly
### failed to reject null hypothesis
### H0= Product sales ratio are same for male and female