## Cutlets

In [1]:
#importing the pacakages which are required 
import pandas as pd
import numpy as np
import scipy 
from scipy import stats
import statsmodels.api as sm

In [2]:
cut = pd.read_csv("C:\\Users\\Prajwal\\Desktop\\Data Science\\Assignments\\Hypothesis Testing\\Cutlets.csv")

In [3]:
cut.head()

   Unit A  Unit B
0  6.8090  6.7703
1  6.4376  7.5093
2  6.9157  6.7300
3  7.3012  6.7878
4  7.4488  7.1522

### Normality test

In [4]:
print(stats.normaltest(cut["Unit A"]))

NormaltestResult(statistic=2.761164477860819, pvalue=0.25143211686667205)

In [5]:
print(stats.normaltest(cut["Unit B"]))

NormaltestResult(statistic=1.2284799909329571, pvalue=0.541051941019275)

### Variance Test

#### Ho = Both are having same variance
#### Ha = Both are having diff variance

In [6]:
var = (stats.f_oneway(cut["Unit A"],cut["Unit B"]))

In [7]:
var

F_onewayResult(statistic=0.5225394038913945, pvalue=0.4722394724599509)

### 2 sample t-test

#### Ho = Cutlets are having same diameter
#### H1 = Cutlets are diff diameter

In [8]:
from math import sqrt

In [9]:
from scipy.stats import ttest_ind

In [10]:
UnitA = cut.iloc[:,0:1]

In [11]:
UnitA.head()

   Unit A
0  6.8090
1  6.4376
2  6.9157
3  7.3012
4  7.4488

In [12]:
UnitB = cut.iloc[:,1:2]

In [13]:
UnitB.head()

   Unit B
0  6.7703
1  7.5093
2  6.7300
3  6.7878
4  7.1522

In [14]:
ttest = ttest_ind(UnitA,UnitB)

In [15]:
ttest

Ttest_indResult(statistic=array([0.72286887]), pvalue=array([0.47223947]))

In [16]:
from scipy.stats import sem,t

In [17]:
from scipy import mean

In [18]:
confidence = 0.95

In [19]:
n = len(cut)
m = np.mean(cut)
std_err = sem(cut)

In [20]:
h = std_err*t.ppf((1+confidence)/2,
                 n-1)

In [21]:
start = m-h
print(start)
end = m+h
print(end)

Unit A    6.920020
Unit B    6.846335
dtype: float64
Unit A    7.118163
Unit B    7.082259
dtype: float64

#### failed to reject null hypothesis
#### cutlets have same diameter