In [1]:
import numpy as np
import pandas as pd
from statsmodels.stats.proportion import proportions_ztest

In [2]:
faltoons = pd.read_csv("C:\\Users\\Prajwal\\Desktop\\Data Science\\Assignments\\Hypothesis Testing\\Faltoons.csv")

In [3]:
faltoons.head()

  Weekdays Weekend
0     Male  Female
1   Female    Male
2   Female    Male
3     Male  Female
4   Female  Female

In [4]:
pd.crosstab(faltoons.Weekdays,faltoons.Weekend)

Weekend   Female  Male
Weekdays
Female       167   120
Male          66    47

### 2 proportion test

In [5]:
M = np.array([66,47])
W = np.array([422,588])

In [6]:
(test_stat,p_value) = proportions_ztest(M,W,alternative='two-sided')
print("The computed Z test statistic is",test_stat)
print('The P-value is',p_value)

The computed Z test statistic is 3.8022375923174603
The P-value is 0.00014339511138426105

#### Ho - Percentage of males visiting store equal to percentage of females
#### Ho - Percentage of males visiting store not equal to percentage of females

### 2 proportion for alternative is smaller

In [7]:
(test_stat,p_value) = proportions_ztest(M,W,alternative='smaller')
print("The computed Z test statistic is",test_stat)
print('The P-value is',p_value)

The computed Z test statistic is 3.8022375923174603
The P-value is 0.9999283024443079

#### Ho - Percentage of males visiting store is less than percentage of females
#### Ho - Percentage of males visiting store is equal than percentage of females

### Percentage of males versus females walking in to the store differ based on day of the week