In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import scipy 
from scipy import stats
import statsmodels.api as sm
import statistics

In [2]:
lab = pd.read_csv("C:\\Users\\Prajwal\\Desktop\\Data Science\\Assignments\\Hypothesis Testing\\LabTAT.csv")

In [3]:
lab.head()

   Laboratory 1  Laboratory 2  Laboratory 3  Laboratory 4
0        185.35        165.53        176.70        166.13
1        170.49        185.91        198.45        160.79
2        192.77        194.92        201.23        185.18
3        177.33        183.00        199.61        176.42
4        193.41        169.57        204.63        152.60

### Normality Test

In [4]:
print(stats.normaltest(lab["Laboratory 1"]))

NormaltestResult(statistic=3.1060265433533347, pvalue=0.21160937563689558)

In [5]:
print(stats.normaltest(lab["Laboratory 2"]))

NormaltestResult(statistic=0.0803387804390505, pvalue=0.9606267046015174)

In [6]:
print(stats.normaltest(lab["Laboratory 3"]))

NormaltestResult(statistic=1.3179040474621546, pvalue=0.5173932663410683)

In [7]:
print(stats.normaltest(lab["Laboratory 4"]))

NormaltestResult(statistic=1.1485742336656128, pvalue=0.5631061546539944)

##### All variables are Normal

### Anova test

In [13]:
lab1 = (stats.f_oneway(lab["Laboratory 1"],lab["Laboratory 2"],lab["Laboratory 3"],lab["Laboratory 4"]))

In [14]:
lab1

F_onewayResult(statistic=118.70421654401437, pvalue=2.1156708949992414e-57)

#### Reject null hypothesis

### There is a difference in average TAT between different laboratories